.carousel {
    height: 50px;
    width: 50px;
}

.carouselContent {
    display: flex; 
    flex-direction: column;
    margin: 5px;
    object-fit: contain;
    position: relative;
    padding: 2px;
}

.carouselContentImg {
    border-radius: 10px; 
    box-shadow: 0px 0px 5px black;
    object-fit: contain;
    /* max-width: 200px;
    max-height: 200px; */
    /* background-size: contain;  */
}
